/*   　　共通のスタイル      */
/*------------------------*/
html {
  height: 100%;
}

a {
  color: #333333;
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
  display: block;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

body {
  color: #333333;
  height: 100%;
}
header {
  height: 70px;
}
.header-top {
  height: 70px;
  justify-content: space-between;
  background-color: #fff;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 100;
  padding: 0 30px;
  box-sizing: border-box;
  flex-wrap: nowrap;
}
.header-left {
  font-size: 3.84rem;
  width: 80px;
}

.header-right {
  font-size: 4.1rem;
  font-weight: bold;
}
.header-right ul {
  display: flex;
}
.header-right ul li:not(:last-child) {
  margin-right: 30px;
}

.h-img {
  justify-content: center;
  text-align: center;
  align-items: center;
  background-image: url(../img/mv.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* background-position: 0 -62px; */
  height: 80vh;
  width: 100%;
}
.header-text {
  margin: 0 auto;
  color: white;
  max-width: 1080px;
  font-weight: bold;
}
.header-text p:first-child {
  font-size: 5rem;
}
.header-text p {
  font-size: 1.8rem;
  text-align: center;
}

.intro {
  background-color: #222;
  color: #fff;
  padding: 80px 0;
}
.intro h2 {
  font-size: 3rem;
  margin-bottom: 20px;
}
.intro p {
  font-size: 1.6rem;
}
.intro-inner {
  margin: 0 auto;
  max-width: 1084px;
}
.service {
  padding: 100px 0;
}
.service-inner {
  max-width: 1084px;
  margin: 0 auto;
}
.contents-title {
  font-size: 3rem;
  color: black;
  text-align: center;
  padding-bottom: 20px;
}
.service-item {
  width: 49%;
  margin-bottom: 30px;
}
.service-item-img {
  padding-bottom: 10px;
}
.service-item-title {
  font-size: 2rem;
}
.service-item-text {
  font-size: 1.6rem;
}
.btn-box {
  width: 100%;
  text-align: center;
}
.btn {
  background-color: rgb(220, 19, 19);
  display: inline-block;
  font-size: 1.6rem;
  color: #fff;
  font-weight: bold;
  width: 300px;
  padding: 10px;
}
.service-btn {
  margin-top: 10px;
}
.news {
  background-color: black;
  padding: 50px 0;
}
.news-inner {
  max-width: 1080px;
  margin: 0 auto;
}
.news-title {
  color: white;
  display: inline-block;
}
.news-btn-box {
  display: inline-block;
  text-align: center;
}
.news-btn {
  width: 150px;
  font-size: 1.4rem;
  margin-bottom: 20px;
  padding: 5px;
}
.news p {
  display: inline-block;
  font-size: 1.8rem;
  padding-left: 20px;
  font-weight: bold;
}
.news time {
  padding-left: 20px;
  font-size: 1.8rem;
}

.news li a {
  display: inline-block;
  width: 100%;
  background-color: white;
  padding: 15px 0;
  margin-bottom: 10px;
}
.blog {
  padding: 70px 0;
}
.blog-inner {
  max-width: 1080px;
  margin: 0 auto;
}
.blog-items {
  justify-content: space-between;
  margin-bottom: 50px;
}

.blog-item {
  width: 32%;
}
.blog-img {
  width: 100%;
  height: 100%;
  padding-bottom: 10px;
}
.blog-item p {
  margin-top: 10px;
  font-size: 1.4rem;
}

.blog-item h2 {
  font-size: 1.8rem;
  font-weight: bold;
}

.company {
  padding-bottom: 80px;
  color: white;
  font-size: 0;
}
.company-item {
  display: inline-block;
  width: 50%;
  /* line-height: 10; */
  background-color: rgb(220, 19, 19);
  text-align: center;
}

.recruit-item {
  display: inline-block;
  width: 50%;
  text-align: center;
  background-color: black;
}
.recruit-item:hover,
.company-item:hover {
  opacity: 0.7;
}
.company-item a,
.recruit-item a {
  color: white;
  display: inline-block;
  line-height: 10;
  font-size: 2.4rem;
  font-weight: bold;
}
.contact {
  padding: 80px 0;
  background-color: #f5f6f9;
}
.contents-title {
  padding-bottom: 10px;
  font-weight: bold;
}
.contact p {
  text-align: center;
  font-size: 1.6rem;
  padding-bottom: 40px;
}
.contact-btn {
  width: 280px;
}
footer {
  background-color: black;
}
.footer-inner {
  max-width: 1084px;
  margin: 0 auto;
  padding: 20px 0;
  text-align: center;
}
small {
  color: white;
  font-size: 1.2rem;
}
footer ul li a {
  font-size: 1.4rem;
  color: white;
  padding: 0 10px;
}
footer ul li:not(:last-child) a {
  border-right: 1px solid;
}
.f-p {
  padding-right: 5px;
}

@media screen and (max-width: 768px) {
  .header-right > .header-list {
    display: none;
  }
  .header-text {
    width: 85%;
  }
  #hamburger {
    position: relative;
    width: 36px;
    height: 32px;
    cursor: pointer;
    z-index: 10;
    color: black;
  }
  #hamburger span {
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 4px;
    background-color: black;
    z-index: 10;
  }
  .line1 {
    top: 0px;
  }
  .line2 {
    top: 14px;
  }
  .line3 {
    bottom: 0;
  }

  .intro-inner {
    width: 85%;
  }
  .service-items1,
  .service-items2 {
    display: block;
  }
  .wrap {
    width: 85%;
    margin: 0 auto;
  }
  .service-item {
    width: 100%;
  }
  .news li a {
    padding: 10px 0;
  }
  .news p,
  .news time {
    font-size: 1.4rem;
  }
  .blog-items {
    display: block;
    text-align: center;
  }

  .footer-inner {
    width: 85%;
    justify-content: space-between;
  }
  small {
    margin: 0 auto;
  }
  .footer-list {
    display: block;
    /* flex-direction: column; */
    margin: 0 auto;
  }
  .footer-list li {
    padding-top: 10px;
    text-align: center;
  }
  .footer-list li a {
    font-size: 1.2rem;
    width: 100%;
  }
  footer ul li:not(:last-child) a {
    border-right: none;
  }
}
